extends layout.pug

block content
  .col-lg-9.col-md-9
    h3 Active Channels
    table.table.table-bordered.table-striped
      thead
        th Channel
        th # Connected
        th Now Playing
      tbody
        each chan in channels
          tr
            td: a(href=`/${channelPath}/${chan.name}`) #{chan.pagetitle} (#{chan.name})
            td= chan.usercount
            td= chan.mediatitle

    h3 Channel List
    table.table.table-bordered.table-striped
      thead
        th Channel
        th Description
      tbody 
          tr
            td Movies
            td A repository of movies, feel free to watch in your NeutralZone room.
          tr
            td Movies
            td A repository of movies, feel free to watch in your NeutralZone room.
  
            
          
      
  .col-lg-3.col-md-3

    h3 Register
    p.text-muted <a href="/register">Register on NeutralZone</a> or post anonymously. Read the <a href="#">sites guidelines here</a>.

    h3 Donate
    p.text-muted <a href="#">Contribute to hosting and domain costs</a>, it is very much appreciated.

    h3 Write
    p.text-muted Create content and get published by NeutralZone, <a href="#">follow this guide</a>.
  
append footer
  script(type="text/javascript").
    $("#channelname").keydown(function (ev) {
      if (ev.keyCode === 13) {
        location.href = "/#{channelPath}/" + $("#channelname").val();
      }
    });
